---
layout: default
---
{% for post in paginator.posts %}
  <article class="Teaser">
    <header class="Teaser-header">
      <h1 class="Teaser-title">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h1>
      <p class="Post-meta">{{ post.date | date: "%B %e, %Y" }}</p>
    </header>
    <div class="Teaser-body">
      {{ post.excerpt }}
      <p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="btn">Continue reading...</a>
      </p>
    </div>
  </article>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="Pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="Button">&laquo; Newer</a>
  {% else %}
    <span class="Button Button--disabled">&laquo; Newer</span>
  {% endif %}

  <span class="Pagination-position">
    page {{ paginator.page }} of {{ paginator.total_pages }}
  </span>

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="Button">Older &raquo;</a>
  {% else %}
    <span class="Button Button--disabled">Older &raquo;</span>
  {% endif %}
</div>
{% endif %}
