<% set_meta_tags(title: current_article.title, description: current_article.summary, keywords: current_article.tags.join(', ')) %>
<% wrap_layout :layout do %>
  <article>
    <h1><%= current_article.title %></h1>
    <%= yield %>
  </article>
  <%= partial 'comments' %>
<% end %>
