<header role="banner" class="SiteHeader">
  <a href="/" title="Home">
    <h1>
      <strong>work</strong>.stevegrossi.com
    </h1>
  </a>
  <nav>
    <ul>
      <li><a href="/">blog</a></li>
      <li {% if page.url == "/talks/" %}class="active"{% endif %}><a href="/talks">talks</a></li>
      <li {% if page.url == "/principles/" %}class="active"{% endif %}><a href="/principles/">principles</a></li>
      <li><a href="https://www.stevegrossi.com/is">about</a></li>
    </ul>
  </nav>
</header>
