---
layout: default
---
<article class="Post">
  <header class="Post-header">
    <h1>{{ page.title }}</h1>
    <p class="center Post-meta">
      {{ page.date | date: "%B %e, %Y" }}

      {% if page.tags %}
        &bull; on
        {% for tag in page.tags %}
          {% if forloop.index == forloop.length %}and{% endif %}
          <a href="/tags/#{{ tag | slugify }}">{{ tag }}</a>{% if forloop.index < forloop.length and forloop.length > 2 %},{% endif %}
        {% endfor %}
      {% endif %}
    </p>
  </header>

  {{ content }}
</article>

{% include comments.html %}
